<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.4.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/form-to-json.js"></script>
</head>
<body>
SUCCESS!!
123123
<button onclick="getSession()">获取session</button>
<a href="index.html">点我测试</a>
<p id="pid"></p>
<script type="text/javascript">
    function getSession() {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/records/getRecords",
            success: function (data) {
                if (data.code == 200) {
                    for(var i=0; i<data.data.length;i++){
                        var record = data.data[i];
                        document.getElementById("pid").append("["+record.id+","+record.userId+"]");
                    }
                }
            },
            error: function (data) {
                alert("error" + data.toString());
            }
        });

    }

</script>
</body>
</html>